[LOAD_MONITORED_FOLDERS]
#INPUT_FOLDER1 = C:\acs_output\ACS1
#INPUT_FOLDER2 = C:\acs_output\ACS2
#INPUT_FOLDER3 = C:\acs_output\ACS3
#INPUT_FOLDER4 = C:\acs_output\ACS4
#INPUT_FOLDER5 = C:\acs_output\ACS5
INPUT_FOLDER6 = C:\acs_output\host

[OUTPUT_FOLDER]
OUTPUT_FOLDER = C:\acs_output\DESTINATION

[VALUE_TO_MOVE]
VALUE_TO_MOVE = 5000

[GENERAL]
SCAN_INTERVAL = 5


#Log size in KB e.g 1024 for 1 MB
[LOG]
LOG_NAME = MoveDoneFolders.log
MAX_LOG_SIZE = 10240

[FILE_TYPE_TO_MOVE]
FILE_TYPE1 = json.done
FILE_TYPE2 = csv.done




